<section id="sitetypeHeaderList-section" class="fgta5-carousell" data-title="List Site Type">
<%- include(`${moduleDir}/sitetypeHeaderList.html`) %>
</section>

<section id="sitetypeHeaderEdit-section" class="fgta5-carousell" data-title="Edit Site Type">
<%- include(`${moduleDir}/sitetypeHeaderEdit.html`) %>
</section>




