<section id="docHeaderList-section" class="fgta5-carousell" data-title="List Document">
<%- include(`${moduleDir}/docHeaderList.html`) %>
</section>

<section id="docHeaderEdit-section" class="fgta5-carousell" data-title="Edit Document">
<%- include(`${moduleDir}/docHeaderEdit.html`) %>
</section>




