<section id="settingHeaderList-section" class="fgta5-carousell" data-title="List Setting">
<%- include(`${moduleDir}/settingHeaderList.html`) %>
</section>

<section id="settingHeaderEdit-section" class="fgta5-carousell" data-title="Edit Setting">
<%- include(`${moduleDir}/settingHeaderEdit.html`) %>
</section>




