@media screen and (min-width: 501px) {
	#roleHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 10px;
		width: 850px;
	}

	#roleHeaderEdit-obj_role_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
	}

	#roleHeaderEdit-obj_role_name-container {
		grid-row: 2;
		grid-column: 1 / span 3;
	}

	#roleHeaderEdit-obj_user_id-container {
		grid-row: 2;
		grid-column: 4 / span 2;
	}

	#roleHeaderEdit-obj_role_descr-container {
		grid-row: 3;
		grid-column: 1 / span 6;
	}

	#roleHeaderEdit-obj_rolelevel_id-container {
		grid-row: 4;
		grid-column: 1 / span 2;
	}
}