#userHeaderEdit-obj_user_password-container {
	flex-wrap: wrap;
}

#btn_resetpassword {
	margin-top: 5px;
}



@media screen and (min-width: 501px) {
	#btn_resetpassword {
		flex-basis: 100%;
		padding-left: 95px;
	}
}
