<section id="reportviewerMain-section" class="fgta5-carousell" data-title="Laporan yang akan dicetak">

	<div style="display: flex;"> 
		<div>
			parameter	
			<button id="btnLoad">Load</button>
		</div>


		<div>
			<button id="btnPrint">Cetak</button>
			<button id="btnDownload">Download</button>

		</div>

	</div>



	<div id="print-media">
		<%- include(`${moduleDir}/reportPage.html`) %>
	</div>
</section>