<section id="reportviewerMain-section" class="fgta5-carousell" data-title="Report Viewer">

	<div style="display: flex; margin-bottom: 10px;"> 
		<div style="flex-grow: 1;">
			parameter	
			<button id="btnLoad">Load</button>
		</div>


		<div>
			<button id="btnPrint">Cetak</button>
			<button id="btnDownload">Download</button>
		</div>

	</div>



	<div id="print-media">
		<%- include(`${moduleDir}/reportPage.html`) %>
	</div>
</section>