@import url('./reportPage.css');


@media screen {
	#print-media {
		border: 1px solid black;
		padding: 30px;
	}
}


@media print {
	body * {
        visibility: hidden;
    }

	/* 2. Tampilkan kembali (visibility: visible) hanya div yang ingin dicetak */
    #print-media, #print-media * {
        visibility: visible;
    }

    /* 3. Posisikan div cetak agar menempati seluruh halaman cetak */
    #print-media {
		border: 0px;
        position: absolute;
        left: 0;
        top: 0;
    }
}