@media print {
	@page {
        size: A4 landscape; 
        margin: 0;
    }

	#print-media {
		/* Ukuran A4 standar adalah 21cm x 29.7cm */
        width: 21cm; 
        min-height: 29.7cm;
        margin: 0;
        padding: 0;
		font-size: 12pt;
		background-color: #ccc;
		display: flex;
		flex-direction: column;
	}


	#print-area {
		margin: 1cm;
		border: 1px dotted black;
		flex-grow: 1;
	}

}


@media screen {


}

#judul-laporan {
	font-weight: bold;
	font-size: 1.2em;
}