@media screen and (min-width: 501px) {
	#rolelevelHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 10px;
		width: 850px;
	}


	#rolelevelHeaderEdit-obj_rolelevel_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
	}

	#rolelevelHeaderEdit-obj_rolelevel_name-container {
		grid-row: 2;
		grid-column: 1 / span 2;
	}

	#rolelevelHeaderEdit-obj_rolelevel_order-container {
		grid-row: 2;
		grid-column: 3;
	}	

	#rolelevelHeaderEdit-obj_rolelevel_descr-container {
		grid-row: 3;
		grid-column: 1 / span 6;
	}	


}