<section id="sequencerHeaderList-section" class="fgta5-carousell" data-title="List Sequencer">
<%- include(`${moduleDir}/sequencerHeaderList.html`) %>
</section>

<section id="sequencerHeaderEdit-section" class="fgta5-carousell" data-title="Edit Sequencer">
<%- include(`${moduleDir}/sequencerHeaderEdit.html`) %>
</section>




