@media screen and (min-width: 501px) {
	#approvaltypeRoleEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 10px;
		width: 850px;
	}

	#approvaltypeRoleEdit-obj_approvaltyperole_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
	}


	#approvaltypeRoleEdit-obj_approvalsigntype_id-container {
		grid-row: 2;
		grid-column: 1 / span 2;
	}

	#approvaltypeRoleEdit-obj_approval_signtitle-container {
		grid-row: 2;
		grid-column: 3 / span 2;
	}

	#approvaltypeRoleEdit-obj_isfinalapproval-container {
		grid-row: 2;
		grid-column: 5 / span 2;
	}	

	#approvaltypeRoleEdit-obj_approvaltyperole_descr-container {
		grid-row: 3;
		grid-column: 1 / span 6;
	}


	#approvaltypeRoleEdit-obj_rolelevel_id-container {
		grid-row: 4;
		grid-column: 1 / span 2;
	}

	#approvaltypeRoleEdit-obj_role_id-container {
		grid-row: 4;
		grid-column: 3 / span 2;
	}


	#approvaltypeRoleEdit-obj_approvaltyperole_order-container {
		grid-row: 5;
		grid-column: 1 / span 2;
	}

}



#approvaltypeRoleEdit-obj_approvaltype_id-container {
	display: none;
}