@media screen and (min-width: 501px) {
	#approvaltypeHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 10px;
		width: 850px;
	}

	#approvaltypeHeaderEdit-obj_approvaltype_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
	}

	#approvaltypeHeaderEdit-obj_approvaltype_name-container {
		grid-row: 2;
		grid-column: 1 / span 6;
	}

	#approvaltypeHeaderEdit-obj_approvaltype_descr-container {
		grid-row: 3;
		grid-column: 1 / span 6;
	}

	
}